/* {
--text: #eef1f4;
--background: #000910;
--primary: #78bbfc;
--secondary: #09039c;
--accent: #07ed2a;
} */
#root {
    height: 100%;
    min-height: 100%;
}

.welcome-container {
    background-color: var(--background);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-welcome {
    display: flex;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--primary);
    justify-content: space-between;
    flex-direction: row;
    border-radius: 0 0 30px 30px;
    align-items: center;
    z-index: 999;
    transition: all 1s;
}
.scrolled-header {
    background-color: rgba(0, 0, 0, 0.5);
}

.header-welcome a {
    color: white;
    height: 2rem;
    padding: 1rem;
    margin-right: 30px;
}
.tittle-header {
    display: flex;
    color: white;
    padding: 1rem;
    height: 5vh;
    width: fit-content;
    align-items: center;
    align-self: center;
    flex-direction: row;
    
}
.tittle-header img {
    height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    margin-bottom: 10vh;
}
.start-div {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Wallpaper 6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    padding: 3rem;
    margin: 1rem;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    box-sizing: content-box;
    /* background-color: var(--primary); */
    background-color: rgba(0, 0, 0, 0.8);
}

.cards {
    display: flex;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 1rem;
}
.card {
    display: flex;
    /* min-width: 40%; */
    width: 500px;
    height: 400px;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--primary);
    margin: 1rem;
    align-items: center;
    justify-content: center;
}
.img-div {
    display: flex;
    padding: 1rem;
    size: 100%;
}


.footer-welcome {
    display: flex;
    position: static;
    bottom: 0;
    height: fit-content;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--primary);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#footer-links a {
    padding: .1rem

}

.text-block {
    color: white;
    padding: 3rem;
    width: 80%;
    align-items: center;
    align-self: center;
    flex-direction: row;
}
mark {
    background-color: transparent;
    color: var(--accent);
    text-shadow: 10px 10px 30px;
}
.subscribe-button {
    width: 20rem;
    height: 14rem;
    border-radius: 30px;
    background-color: var(--secondary);
    border: 0;
    transition: all .2s;
}
.subscribe-button:hover {
    background-color: var(--primary);
    color: var(--accent);
    text-shadow: 10px 10px 30px;
    box-shadow: rgb(183, 216, 230) 0px 0px 40px;
}
.subscribe-button:active {
    color: white;
    background-color: white;
}